<!DOCTYPE html>
<html lang="en">

    <head th:replace="layout/layout :: head">

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul th:replace="layout/layout :: sidebar"> 

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav th:replace="layout/layout :: topbar"> 
                    </nav>
                    <!-- End of Topbar -->

                    <!-- Begin Page Content -->
                    <div class="container-fluid">

                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a th:href="@{/inscripciones/listarInscripciones}">Inscripciones</a>
                                  <li class="breadcrumb-item"><a>Listar Inscripciones</a></li>
                            </li>
                        </ol>

                        <!-- DataTales Example -->
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Lista de
                                    Inscripciones Generales</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive text-center">
                                    <table class="table table-bordered" id="miTabla" width="100%"
                                           cellspacing="0">
                                        <thead>
                                            <tr>
                                                <!--<th>Id</th>-->
                                                <th>Curso</th>
                                                <th>Fecha Inscripción</th>
                                                <th>Nro Alumno</th>
                                                <th>Alumno</th>
                                                <!--<th>Asesor</th>-->
                                                <!--<th>Plan de Pago</th>-->
                                                 <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="inscripcion : ${inscripciones}">
                                                <td th:text="${inscripcion.fkIdCurso.nombre}"></td>
                                                <!--<td th:text="${inscripcion.IdInscripcion}"></td>-->
                                                <td th:text="${#calendars.format(inscripcion.fechaInscripcion, 'dd/MM/yyyy')}"></td>
                                                <td th:text="${inscripcion.fkIdAlumno.nroAlumno}"></td>
                                                <td th:text="${inscripcion.fkIdAlumno.apellido} + ', ' +  ${inscripcion.fkIdAlumno.nombre}"></td>
                                                <!--<td th:text="${inscripcion.fkIdAsesor}"></td>
                                                <td th:text="${inscripcion.fkIdPlanDePago}"></td>-->
                                                 <td th:text="${inscripcion.existeDeuda() ? 'Deuda Registrada':'No hay deudas'}"
                                                th:classappend="${inscripcion.existeDeuda()} ? text-danger : text-info"></td>
                                                <td>
                                                    <div class="btn-group" role="group"
                                                         aria-label="Basic mixed styles example">
                                                        <a class="btn btn-info btn-xs" th:href="@{/inscripciones/detallesInscripcion/}+${inscripcion.IdInscripcion}">
                                                            <i class="fas fa-eye"> </i>
                                                        </a>
                                                        <a class="btn btn-primary btn-xs"
                                                           th:href="@{/inscripciones/editar/}+${inscripcion.IdInscripcion}"> <i
                                                                class="far fa-edit"></i>
                                                        </a> <a class="btn btn-danger btn-xs"
                                                                th:href="@{/inscripciones/eliminar/}+${inscripcion.IdInscripcion}"
                                                                onclick="return confirm('Estás seguro que quieres eliminar?');">
                                                            <i class="far fa-trash-alt"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer th:replace="layout/layout :: footer">

                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a th:replace="layout/layout :: scroll">

        </a>

        <!-- Logout Modal-->
        <div th:replace="layout/layout :: logoutModal">

        </div>

        <!-- Bootstrap core JavaScript-->
        <div th:replace="layout/layout :: script"></div>

    </body>

</html>
